.smallWidget {
  flex: 1;
  -webkit-box-shadow: 2px 1px 11px 1px hsl(0, 4%, 81%);
  box-shadow: 2px 1px 11px 1px #d4d4d4;
  padding: 1.3rem;
  margin-right: 1rem;
  border-radius: 0.8rem;
}

.smallWidgetTitle {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.smallWidgetList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.smallWidgetListItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}

.smallWidgetImage {
  height: 3rem;
  object-fit: cover;
}

.smallWidgetUser{
    display: flex;
    flex-direction: column;

}

.smallWidgetUsername{
    font-weight: bold;
    font-size: 1.3rem;
}

.smallWidgetRole{
    margin-top: 5px;
    color: rgb(114, 109, 109);
}

button{
    display: flex;
    align-items: center;
    border: none;
    border-radius: 10px;
    padding: 7px 10px;
    background-color: rgb(223, 222, 222);
    color: black;
    cursor: pointer;
}

.smallWidgetIcon{
    font-size: 1rem;
    margin-right: 5px;
}

