.sideBar{
    flex: 1;
    height: calc(100vh - 50px);
    background-color: rgb(241, 245, 247);
    position: sticky; 
    top: 50px;
}

.sideBarWrapper{
    padding: 20px;
    color: #555;
}

.sideBarTitle{
    font-size: 13px;
    color: rgb(151, 149, 149);
}
.sideBarMenu{
    margin-bottom: 15px;
}

.sideBarList{
    list-style-type: none;
    padding: 5px;
}

.sideBarListItem{
    padding: 7px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.sideBarListItem.active, .sideBarListItem:hover{
    background-color: rgb(228,228,250);
}

.sideBarIcon{
    margin-right: 5px;
    font-size: 20px !important;

}

.link{
    text-decoration: none;
    color: inherit;
}