.productIndex{
    flex: 4;
}

.productListProduct {
    display: flex;
    align-items: center;
  }
  
  .productListImage {
    margin-right: 10px;
    height: 2rem;
  }
  
  .productListEdit{
      margin-right: 20px;
      background-color: lightgreen;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      padding: 8px 12px;
      
  }

  .productListDelete{
    color: red;
    cursor: pointer;
}
